/* Footer */
.social-icons a {
  scale: 0.8;
  padding: 3px;
}

/* Footer Social Icons */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: var(--gap) var(--gap);
}

.footer-social-icons {
  flex: 4;
}

.footer-legal-links {
  flex: 2;
}

.footer-copyright {
  flex: 4;
  min-width: 0;
  word-break: break-all;
}

