/* Profile section */
.profile-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-content {
  flex: 1;
}

.profile .social-icons {
  width: 80%;
}
